*{
    margin: 0;
    padding: 0;
}
label{
    margin-left: -25%;
    font-family: sans-serif;
    color: rgb(107, 102, 102);
    font-size: 14px;
}
input{
    text-indent: 14px;
}
input:focus{
    text-indent: 14px;
    outline: none;
}
::placeholder{
    color: rgb(166, 166, 192);
    text-indent: 14px;
    font-weight: 300;
}
.login-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin-top: 60px;
    width: 40%;
    margin-left: 29.5%;
    box-shadow:0 0 30px #b9b8b8;
}
h2{
    text-align: center;
    color: #23065b;
    font-weight: 700;
    font-family: sans-serif;
    font-size: 20px;
    margin: 22px 0 0 15px;
}
.login-form p{
    font-weight: 700;
    font-family: sans-serif;
    font-size: 16px;
    color: rgb(107, 102, 102);
    text-align: center;
    margin: 33px 0 35px 0;
}
#email{
    height: 48px;
    width: 155%;
    border-radius: 5px;
    border: 1px solid #a9a9a9;
    font-size: 16px;
    color: rgb(107, 102, 102);
    margin: 8px 0 10px -25%;
}
#password{
    height: 48px;
    width: 155%;
    border-radius: 5px;
    border: 1px solid #a9a9a9;
    font-size: 16px;
    color: rgb(107, 102, 102);
    margin: 8px 0 10px -25%;
}
#forgotten-password-link{
    float:right;
    text-decoration: none;
    margin-right: -30%;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: rgb(35, 6, 91);
}
#remember-me-span{
    display: inline-flex;
    gap: 38px;
    margin-left: -25%;
}
#login{
    height: 48px;
    width: 155%;
    border-radius: 5px;
    border: 1px solid #23065B;
    font-size: 16px;
    color: white;
    background-color: #23065B;
    font-weight: bold;
    margin: 5px 0 0 -25%;
}
#sign-up-alternative{
    margin-top: 20px;
    font-size: 12px;
    text-decoration: none;
    text-align: center;
    color: #374151;
}
a{
    text-decoration: none;
    color: #140138;
}
#email-error-message{
    color: red;
    font-family: sans-serif;
    position: absolute;
    bottom: 25%;
    left: 25px;
}

@media (max-width:600px){
    .login-container{
        height: 80vh;
        width: 85%;
       justify-content: start;
       align-items: start;
       margin-left: 28px;
       box-shadow: 5px 5px 5px -5px #eeebeb;
    } 
    .login-form h2{
        margin-left: -8px;
    }
    .login-form p{
        font-size: 13px;
        margin-left: -4px;
        font-weight: bold;
    }
    #email{
        width: 88%;
        margin-left: 20px;
    }
    #password{
        width: 88%;
        margin-left: 20px;
    }
    label{
        margin-left: 20px;
    }
    #remember-me-span{
        margin-left: 20.5px;
        gap:0;
    }
    .remember-me{
        margin-left: 4px;
        font-size: 14px;
    }
    #forgotten-password-link{
        margin-right: 20px;
    }
    #login{
        width: 88%;
        margin-left: 20px;
    }
    #sign-up-alternative{
        margin-top: 10px;
    }
}


@media (min-width:600px) and (max-width:900px)  {
    .login-container{
        width: 80%;
        margin-left: 75px;
        height: 50vh;
        box-shadow: 5px 5px 5px -5px #eeebeb;
        margin-top: 80px;
    }
    .login-form p{
        margin-left: 22px;
    }
}